After=network.target

[Service]
Type=simple
ExecStart=/opt/IndoorClimatePi/code/start
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target