BSEC_DIR='./src/BSEC_1.4.8.0_Generic_Release'
CONFIG_DIR='.'

VERSION='normal_version'

# Other architectures can be found in BSEC_DIR/algo/${VERSION}/bin/.
ARCH="${VERSION}/bin/RaspberryPi/PiThree_ArmV6"

# config for bme680, other configs are:
# generic_18v_300s_28d
# generic_18v_300s_4d
# generic_18v_3s_28d
# generic_18v_3s_4d
# generic_33v_300s_28d
# generic_33v_300s_4d
# generic_33v_3s_28d
# generic_33v_3s_4d
CONFIG='generic_33v_3s_4d'
